<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand navbar-light-brand-hover-color" href="{% url 'index' %}">AutoParts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" title="Home" aria-current="page" href="{% url 'index' %}"><i
                            class="fa fa-fw fa-home"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Favorites" href="#"><i class="fa fa-fw fa-heart"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Garage" href="{% url 'garage' %}"><i class="fa fa-car" style="color: yellow"
                                                                                    aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts' %}"><i
                            class="fa fa-fw fa-address-book-o"></i>Contacts</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown navbar-dark bg-dark">
                        <button class="btn dropdown-toggle navbar-dark bg-dark" style="color: yellow" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Choose Type of Vehicle
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'cars' 'Car' %}">Car</a></li>
                            <li><a class="dropdown-item" href="{% url 'cars' 'Truck' %}">Truck</a></li>
                            <li><a class="dropdown-item" href="{% url 'cars' 'Motorcycle' %}">Motorcycle</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="nav navbar-nav navbar-right" id="navbarNav">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-link">
                        Hello <a href="{% url 'profile details' %}">{{ request.user }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: red" href="{% url 'sign out' %}">Sign out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign in' %}">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign up' %}">Sign up</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" style="color: yellow" href="{% url 'cart' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
